@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');


body {
  font-family: 'Share Tech Mono', monospace;
  background-color: lightblue;
  color: #0008;



#app {
  margin: 50px auto;
  padding: 0 15px;

  h1 {
    text-align: center;
    font-weight: bolder;
    font-size: 50px;
    margin-bottom: 50px;
  }

  .container {
    max-width: 600px;

    .button {

    
      appearance: button;
      background-color: white;
      border: solid transparent;
      border-radius: 16px;
      border-width: 0 0 4px;
      box-sizing: border-box;
      color: black;
      cursor: text;
      display: inline-flex;
      font-family: 'Share Tech Mono', monospace; /* Updated font-family */
      font-size: 15px;
      font-weight: 700;
      letter-spacing: .8px;
      line-height: 20px;
      margin: 0;
      outline: none;
      overflow: visible;
      padding: 13px 16px;
      text-align: left;
      text-transform: none;
      touch-action: manipulation;
      transform: translateZ(0);
      transition: filter .2s;
      user-select: none;
      -webkit-user-select: none;
      vertical-align: middle;
      white-space: nowrap;
      /* width: 100%; */
      margin-bottom: 15px;

      &:after {
        background-clip: padding-box;
        background-color: white;
        border: solid transparent;
        border-radius: 16px;
        border-width: 0 0 4px;
        bottom: -4px;
        content: "";
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: -1;
      }

      &:hover:not(:disabled) {
        filter: brightness(1.1);
      }

      &:disabled {
        cursor: auto;
      }

      &:focus {
        user-select: auto;
      }

      &:main {
        user-select: auto;
      }

    }

    .users {
      width: 100%;
      margin: auto;
      background: #fff7;
      padding: 50px;
      border-radius: 2rem;

      .user {
        text-align: center;
        margin-bottom: 15px;

        img {
          border-radius: 50%;
          width: 100%;
        }

        h3 {
          margin-top: 15px;
          font-size: clamp(.5rem, 2.5vw, 1rem);
        }

        &:empty {
          display: none;
        }
      }
    }
  }
}
}